variables
:root {
    --background: #e6f3ff;
    --first: #99ceff;
    --second: #80c1ff;
    --hover: #ffff80;
}



/* reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--background);
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: violet;
}

header .container {
    background-color: var(--first);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo1 {
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

header .logo1 {
    font-size: 30px;
    color: var(--hover);
    margin-left: 20px;
    cursor: pointer;
}

ul {
    margin-right: 20px;
    display: flex;
    list-style: none;
}

li a{
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ffff80;
    transition: .3s;
}

footer {
    color: #fff;
    background-color: var(--second);
    position: absolute;
    bottom: 0;
    height: 7%;
    width: 1200px;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
} */

